{% extends "base.html" %}

{%block styles%}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.css') }}">
{%endblock%}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/daterangepicker.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataForm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filterForm.js') }}"></script>
{% endblock %}

{% block contentBase %}
<div>
    <!-- Modal insert record-->
    <div class="modal fade" id="formModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
        tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Додати запис</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="fform" novalidate>
                        {{ form.csrf_token }}
                        {{ form.id(id='inputid') }}
                        <div class="form-group">
                            {{ form.name.label}}
                            {{ form.name(class='form-control', placeholder='Обов\'язкове, від 4 до 25', id='inputname')}}
                            {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.text.label}}
                            {{ form.text(class='form-control', placeholder='Обов\'язкове, від 4', id='inputtext')}}
                            {% for error in form.text.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="alert" role="alert" id="formErrorsContainer">
                            <label id='formMessage'></label>
                            <div id="formErrors"> </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-between align-items-end">
                                <div class="modal-footer">
                                    <button class="btn btn-outline-danger btn-sm" type="button" id="delButton">Видалити</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Скасувати</button>
                                    <button type="submit" class="btn btn-success">Зберегти</button>
                                </div>
                            </div>
                        </div>
                        

                        <div class="alert alert-warning container" role="alert" id="formСonfirmation">
                            <div class="row justify-content-around">
                                <label id='formСonfirmationMessage'>Ви впевнені, що бажаєте видалити запис?</label>
                            </div>
                            
                            <div class="row justify-content-around">
                                <button class="btn btn-outline-secondary" type="button" id="btnDismiss">Скасувати</button>
                                <button class="btn btn-danger" type="button" id="btnСonfirm">Підтвердити</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="filterFormCollapse">
        <div class="card-body bg-dark">
            <form id="filterForm" method="POST" novalidate>
                {{ filterForm.csrf_token }}
                <div class="col-8">
                    <div class="form-group mx-0 row border rounded-left bg-light">
                        {{ filterForm.name.label(class = 'col-sm-2 col-form-label bg-light border-right border-bottom' ) }}
                        <div class="col-sm-10 border-bottom px-2">
                            {{ filterForm.name(class='form-control', id='filterName', tabindex='0')}}
                        </div>
                        {{ filterForm.text.label(class = 'col-sm-2 col-form-label bg-light border-right border-bottom' ) }}
                        <div class="col-sm-10 border-bottom px-2">
                            {{ filterForm.text(class='form-control', id='filterText', tabindex='1')}}
                        </div>
                        {{ filterForm.date.label(class = 'col-sm-2 col-form-label bg-light border-right border-bottom')}}
                        <div class="col-sm-10 border-bottom px-2">
                            {{ filterForm.date(class='form-control', type="digits", id='filterDate', tabindex='2')}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="contentTable" class="table-wrapper-scroll-y">
        {{ table|safe }}
        {% block contentTable %}
        {% endblock %}

    </div>
</div>
{% endblock %}